<% provide :title, t("home") %>
<div class="center jumbotron">
  <h1><%= t ".welcome" %></h1>
  <h2>
    <%= t ".notice1" %>
    <br>
    <%= link_to t(".ruby"), "https://www.railstutorial.org/" %>
    <br>
    <%= t ".notice2" %>
  </h2>
  <%= link_to t(".signupnow"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
